.text-field {
    -fx-background-color: #90CAF9;  /* Pale light-blue color (AliceBlue) */
    -fx-border-color: #5D81A3;      /* grey-blue border */
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.green-button {
    -fx-background-color: #6BBF59;  
    -fx-border-color: #073B3A;      
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.red-button {
    -fx-background-color: #FF483f;  
    -fx-border-color: #820600;      
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}